* {
    padding: 0;
    margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #FFF5DC;
  cursor: url('./assets/cursor.cur') , auto ;
}

header {
     background-color: #FFF5DC;
     border-radius: 0.3rem;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content:space-between;
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}

.title {
    display: flex;
}

.paw{
    height: 3.4rem;
    margin-top:2.3rem ;
}

.title h1 {
font-size: 4rem;
color: #FBC02D;
font-weight: 700;
margin-top: 0.6 rem;
}

.sticker {
height: 5.8rem;
width: 6rem;

}

.head-btns{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.h-btn {
    color: #FF7043;
    font-weight: 500;
    font-size: 1.05rem;
     transition: background-color 0.3s ease, transform 0.3s ease;
}

.h-btn:hover {
    color: #F4511E;
    font-weight: 600;
  cursor: url('./assets/cursor\ \(1\).cur') , pointer;
    transform: scale(1.15); 
}
.landing {
 background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('./assets/Landing_background.webp');
     background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.info{
    color: #FFF5DC;
    font-size: 1.3rem;
    font-weight: 650;
    
}

.icon {
    color:#FBC02D ;
}

.msg {
    height: 7rem;
   display: flex;
   position: relative;
   top: 60%;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.land-btn {
    border: 2px solid #F4511E; 
    height: 3.4rem;
    width: 14rem;
    margin-top: 1rem;
    border-radius: 2rem;
    color: #F4511E;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
     transition: background-color 0.3s ease-out, transform 0.3s ease-out;
}

.land-btn:hover {
    background-color: #F4511E;
    color: #FFF5DC;
    border: none;
      cursor: url('./assets/cursor\ \(1\).cur') , pointer;
    transform: scale(1.05);
}

  .cards {
    height: 150vh;
    display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), 
    url('./assets/Landing_background.webp');
     background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.facts{
    margin: 3.2rem;
    width: 18%;
    height: 30vh;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.image {
   border-radius: 0.7rem;
   height: 90%;
   width: 90%;  
   padding: 0.5rem 0.5rem 0.5rem 0.5rem;
} 

.facts {
  cursor: url('./assets/cursor\ \(1\).cur') , pointer;

}


/* Inner card with flipping logic */
 .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.7rem;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
} 

.facts:hover .card-inner {
  transform: rotateY(180deg);
} 

/* Front & back of the card */
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF7043;
}


/* Back face */
.card-back {
  transform: rotateY(180deg);
  background-color: #FF8A65;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 1rem; 
 } 

 .about {
  height: 75vh;
  margin: 3rem;
 }

 .head {
  display: flex;
  justify-content: center;
  align-items: center;
 }

 #cat {
  height: 8rem;

 }

 .head h1 {
  color: #FF7043;
  font-weight: 700;
  font-size: 2.5rem;
 }

 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.3rem;
  color: #212121;
 }

 #paws {
  margin-top:2rem ;
  height: 8rem;
 }

 .feedback {
  height: 40vh;
 }

 footer {
  height: 50vh;
 }

 .foot {
  height: 90%;
  color: #FFF5DC;
  background-color: #212121;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .uper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 footer h2 {
  font-size: 2.5rem;
 }

 .lower {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

 }

 .footer-icon {
  background-color: #FBC02D;
  height: 3rem;
  width: 3rem;
  margin-left: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
   cursor: url('./assets/cursor\ \(1\).cur') , pointer;
 }

 .copyright {
  height: 10%;
  color: #888;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .meta:hover {
  color: blue;
 }
 .X:hover {
  color: black;
 }
 .insta:hover {
  color: rgb(196, 84, 10);
 }
 .mail:hover{
  color: rgb(196, 191, 191);
 }